.header, footer, .footerFake {
    background: #377bb5;
}

#navigation-principale li {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
}

#navigation-principale li a {
    color: #fff;
}

div,
.header,
nav,
ul,
footer, .footerFake {
    display: flex;
    flex: 1;
}

.blog-header, .centrer, #navigation-principale, .menu-menu-1-container > ul {
    justify-content: center;
    align-items: center;
}

.colonne {
    flex-direction: column;
}

.foisDemi {
    flex: 0.5;
}

.blog-main {
    flex: 5;
    flex-direction: column;
}

.fois0-25 {
    flex: 0.25;
}

.blog-post-title {
    text-decoration: underline;
    font-size: 2em;
}

@media (min-width:768px) {
    .col-sm-offset-1 {
        margin-left: 0;
    }
}
footer, .footerFake {
     padding: 1em;
}

.footer, .footerFake {
    color: white;
    font-weight: bolder;
    font-size: 2em;
}

.pad1em {
    padding: 1em;
}

#menu-menu-1 > .menu-item {
    border-radius: 0.2em;
    border: 1px solid white;
    margin: 0 0.5em;
    font-size: 1.5em;
    text-align: center;
    white-space: nowrap;
}

.fullwhite {
    background-color: unset;
    margin-top: 3vh;
}

.fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.nowrap {
    white-space: nowrap;
}

.algnitems {
    align-items: center;
}